In [44]:
# Import module pandas and read csv file
import pandas as pd
df = pd.read_csv("crime_data.csv")

In [45]:
# Get more information on column types, headers, values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230545 entries, 0 to 230544
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date Rptd     230545 non-null  object
 1   DATE OCC      230545 non-null  object
 2   TIME OCC      230545 non-null  object
 3   AREA          230545 non-null  int64
 4   AREA NAME     230545 non-null  object
 5   Part 1-2      230545 non-null  int64
 6   Crm Cd        230545 non-null  int64
 7   Crm Cd Desc   230545 non-null  object
 8   Vict Age      230545 non-null  int64
 9   Vict Sex      230545 non-null  object
 10  Vict Descent  230545 non-null  object
 11  Premis Desc   230545 non-null  object
 12  Weapon Desc   230545 non-null  object
 13  Status Desc   230545 non-null  object
 14  LOCATION      230545 non-null  object
dtypes: int64(4), object(11)
memory usage: 26.4+ MB

In [46]:
df.head()

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,LOCATION
0,2022-04-12,2020-10-01,00:01,19,Mission,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,8,F,H,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,13400 RANGOON ST
1,2023-01-05,2020-02-01,08:00,2,Rampart,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,7,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,900 N MARIPOSA AV
2,2023-03-21,2020-03-15,12:00,19,Mission,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,12,F,H,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,8500 COLUMBUS AV
3,2023-06-04,2020-07-01,12:00,20,Olympic,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,7,F,H,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,1700 S WESTMORELAND AV
4,2022-02-02,2020-02-09,12:00,11,Northeast,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,30,F,W,SINGLE FAMILY DWELLING,UNKNOWN WEAPON/OTHER WEAPON,Adult Other,2800 WAVERLY DR

In [47]:
# Check to see if there are any null values within the dataset
df.isnull().sum()

Date Rptd       0
DATE OCC        0
TIME OCC        0
AREA            0
AREA NAME       0
Part 1-2        0
Crm Cd          0
Crm Cd Desc     0
Vict Age        0
Vict Sex        0
Vict Descent    0
Premis Desc     0
Weapon Desc     0
Status Desc     0
LOCATION        0
dtype: int64

In [48]:
# Check to see if there are any duplicates - found 1211 duplicate rows
df.duplicated().sum()

np.int64(1211)

In [49]:
# Drop duplicates
df.drop_duplicates(inplace=True)

In [50]:
df.drop('AREA', axis=1, inplace=True)

In [51]:
# Check to see if there any errors within the dates where the date reported is earlier than the date occured
df[df['Date Rptd'] < df['DATE OCC']]

Empty DataFrame
Columns: [Date Rptd, DATE OCC, TIME OCC, AREA NAME, Part 1-2, Crm Cd, Crm Cd Desc, Vict Age, Vict Sex, Vict Descent, Premis Desc, Weapon Desc, Status Desc, LOCATION]
Index: []

In [52]:
# Check to see if there are any erros with the age of the victim being less than 0
df[df['Vict Age'] < 0]

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,LOCATION
8,2023-06-02,2020-05-31,04:30,Hollywood,1,310,BURGLARY,-2,X,X,OTHER BUSINESS,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,1700 ORCHID AV
79,2023-06-09,2020-06-01,12:00,Pacific,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,-2,M,W,SINGLE FAMILY DWELLING,VERBAL THREAT,Invest Cont,3500 GRAND VIEW BL
45443,2023-06-26,2021-11-25,13:00,Southeast,1,761,BRANDISH WEAPON,-1,F,H,PROJECT/TENEMENT/PUBLIC HOUSING,KNIFE WITH BLADE OVER 6 INCHES IN LENGTH,Invest Cont,100 W 108TH ST

In [53]:
# Delete the errored columns that have victim age less than 0
df = df[df['Vict Age'] > 0]

In [54]:
# Check if there are genders listed outside of the the scope (M for male, F for female, X for unknown)
gender_list = {'M', 'F', 'X'}
df[-df['Vict Sex'].isin(gender_list)]

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,LOCATION
5888,2021-11-09,2021-11-09,09:15,Olympic,2,624,BATTERY - SIMPLE ASSAULT,68,H,O,PARKING LOT,MACE/PEPPER SPRAY,Adult Other,2700 W OLYMPIC BL
8655,2021-09-30,2021-09-30,00:30,Hollywood,2,624,BATTERY - SIMPLE ASSAULT,40,H,W,NIGHT CLUB (OPEN EVENINGS ONLY),"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,6400 SELMA AV
22071,2021-11-03,2021-11-03,14:45,Southeast,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",7,H,H,STREET,SEMI-AUTOMATIC PISTOL,Invest Cont,10300 COMPTON AV
38394,2021-04-28,2021-04-27,00:57,Southwest,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",22,H,H,DRIVE THRU*,SEMI-AUTOMATIC PISTOL,Adult Other,2700 S FIGUEROA ST
48871,2021-07-16,2021-07-16,10:00,Wilshire,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",63,H,H,SINGLE FAMILY DWELLING,CONCRETE BLOCK/BRICK,Invest Cont,2200 S LONGWOOD AV
51083,2021-12-18,2021-12-18,02:40,Wilshire,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,44,H,B,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,400 S BURNSIDE AV
51262,2021-04-04,2021-04-04,20:45,Southeast,2,624,BATTERY - SIMPLE ASSAULT,47,H,H,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,16700 S DENVER AV
56774,2021-07-13,2021-07-09,19:46,Hollenbeck,2,624,BATTERY - SIMPLE ASSAULT,26,H,H,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,Adult Arrest,2500 DALY ST
87958,2022-10-04,2022-10-04,17:20,Northeast,2,624,BATTERY - SIMPLE ASSAULT,51,H,H,MTA BUS,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,FIGUEROA
100927,2022-05-09,2022-05-09,21:10,Southeast,2,627,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,14,H,H,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,600 E 113TH ST
107890,2022-01-20,2022-01-20,09:15,Southeast,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,19,H,B,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,11300 BELHAVEN AV
109704,2022-05-09,2022-02-12,02:00,Rampart,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,21,H,W,MOTEL,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,1600 W 3RD ST
137662,2022-08-02,2022-07-31,20:00,Rampart,1,210,ROBBERY,62,H,H,PARKING LOT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Arrest,900 S UNION AV
142773,2022-02-23,2022-02-23,16:35,Olympic,1,210,ROBBERY,63,H,O,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,WESTERN AV
149230,2022-11-16,2022-11-16,12:25,Topanga,1,220,ATTEMPTED ROBBERY,49,H,W,GARAGE/CARPORT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,21600 VENTURA BL
160807,2023-07-07,2023-07-07,00:05,Wilshire,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",41,H,X,STREET,CLUB/BAT,Invest Cont,CRESCENT HEIGHTS
162017,2023-03-14,2023-03-13,23:00,77th Street,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,43,H,B,STREET,BOTTLE,Adult Other,1400 W 53RD ST
191140,2023-04-02,2023-04-02,15:30,Hollenbeck,2,624,BATTERY - SIMPLE ASSAULT,22,H,H,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Arrest,3300 HUNTER ST
224504,2023-10-08,2023-10-08,21:05,Foothill,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",77,H,H,"VEHICLE, PASSENGER/TRUCK",MACHETE,Invest Cont,10600 LAUREL CANYON BL

In [55]:
df = df[df['Vict Sex'].isin(gender_list)]

In [56]:
# See if there any ethnicities listed outside of the scope
descent_list = {'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Z'}
df[-df['Vict Descent'].isin(descent_list)]

Empty DataFrame
Columns: [Date Rptd, DATE OCC, TIME OCC, AREA NAME, Part 1-2, Crm Cd, Crm Cd Desc, Vict Age, Vict Sex, Vict Descent, Premis Desc, Weapon Desc, Status Desc, LOCATION]
Index: []

In [57]:
# Check to see if there any other statuses than the ones that should be stated
status_list = {'Adult Arrest', 'Adult Other', 'Juv Arrest', 'Juv Other', 'Invest Cont'}
df[-df['Status Desc'].isin(status_list)]

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,LOCATION
140189,2022-12-10,2022-12-10,15:15,Central,1,350,"THEFT, PERSON",55,M,W,LA UNION STATION (NOT LINE SPECIFIC),"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",UNK,800 N ALAMEDA ST
179417,2023-06-02,2023-06-02,13:40,Newton,1,440,THEFT PLAIN - PETTY ($950 & UNDER),16,M,H,STREET,HAND GUN,UNK,36TH ST

In [58]:
df = df[df['Status Desc'].isin(status_list)]

In [59]:
df['LOCATION'] = df['LOCATION'].str.strip()

In [60]:
#Remove any extra whitespace from the address location
df['LOCATION'].str.replace(r'\s+', ' ', regex=True)

0               13400 RANGOON ST
1              900 N MARIPOSA AV
2               8500 COLUMBUS AV
3         1700 S WESTMORELAND AV
4                2800 WAVERLY DR
                   ...
230540        11000 MCCORMICK ST
230541         5500 HOLLYWOOD BL
230542         11000 FOOTHILL BL
230543           800 BARTLETT ST
230544          12800 FILMORE ST
Name: LOCATION, Length: 211446, dtype: object

In [61]:
df['LOCATION'] = df['LOCATION'].str.replace(r'\s+', ' ', regex=True)

In [62]:
count_2020 = df['DATE OCC'][(df['DATE OCC'] >= '2020-01-01') & (df['DATE OCC'] <= '2020-12-31')].count()
count_2021 = df['DATE OCC'][(df['DATE OCC'] >= '2021-01-01') & (df['DATE OCC'] <= '2021-12-31')].count()
count_2022 = df['DATE OCC'][(df['DATE OCC'] >= '2022-01-01') & (df['DATE OCC'] <= '2022-12-31')].count()
count_2023 = df['DATE OCC'][(df['DATE OCC'] >= '2023-01-01') & (df['DATE OCC'] <= '2023-12-31')].count()

print('Number of crimes in 2020:', count_2020, '\nNumber of crimes in 2021:', count_2021, '\nNumber of crimes in 2022:', count_2022, '\nNumber of crimes in 2023:', count_2023)

Number of crimes in 2020: 1202
Number of crimes in 2021: 67795
Number of crimes in 2022: 71101
Number of crimes in 2023: 71348

In [68]:
count_2020 = df['Date Rptd'][(df['Date Rptd'] >= '2020-01-01') & (df['Date Rptd'] <= '2020-12-31')].count()
count_2021 = df['Date Rptd'][(df['Date Rptd'] >= '2021-01-01') & (df['Date Rptd'] <= '2021-12-31')].count()
count_2022 = df['Date Rptd'][(df['Date Rptd'] >= '2022-01-01') & (df['Date Rptd'] <= '2022-12-31')].count()
count_2023 = df['Date Rptd'][(df['Date Rptd'] >= '2023-01-01') & (df['Date Rptd'] <= '2023-12-31')].count()

print('Number of crimes in 2020:', count_2020, '\nNumber of crimes in 2021:', count_2021, '\nNumber of crimes in 2022:', count_2022, '\nNumber of crimes in 2023:', count_2023)

Number of crimes in 2020: 0
Number of crimes in 2021: 63305
Number of crimes in 2022: 70921
Number of crimes in 2023: 72535

In [63]:
# We want to focus on crimes that have specifically occured in the years 2021, 2022, and 2023. Therefore, the crimes that occurred in 2020 and were later reported in 2021 will be removed.
df = df[df['DATE OCC'] >= '2021-01-21']

In [64]:
count_2020 = df['DATE OCC'][(df['DATE OCC'] >= '2020-01-01') & (df['DATE OCC'] <= '2020-12-31')].count()
print(count_2020)

0

In [70]:
print(max(df['Date Rptd']))

2023-12-31

In [66]:
df

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,LOCATION
1226,2021-08-21,2021-08-21,23:51,77th Street,1,210,ROBBERY,51,F,B,STREET,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,VERMONT
1229,2021-12-25,2021-12-25,19:00,Central,1,210,ROBBERY,53,M,W,STREET,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,5TH
1230,2021-06-24,2021-06-24,02:35,Hollywood,1,210,ROBBERY,40,M,B,STREET,HAND GUN,Invest Cont,IVAR
1231,2021-10-17,2021-10-17,10:30,Hollenbeck,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",43,M,H,PARK/PLAYGROUND,KNIFE WITH BLADE OVER 6 INCHES IN LENGTH,Invest Cont,AVENUE 19
1232,2021-07-19,2021-07-19,07:30,Mission,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",25,M,H,MOTEL,OTHER FIREARM,Invest Cont,8400 N SEPULVEDA BL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230540,2023-08-27,2023-08-27,00:30,N Hollywood,1,761,BRANDISH WEAPON,38,M,H,STREET,KNIFE WITH BLADE 6INCHES OR LESS,Adult Other,11000 MCCORMICK ST
230541,2023-07-24,2023-07-24,14:00,Hollywood,1,210,ROBBERY,23,F,B,STREET,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,5500 HOLLYWOOD BL
230542,2023-12-15,2023-12-14,11:05,Foothill,1,210,ROBBERY,65,F,W,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,11000 FOOTHILL BL
230543,2023-07-08,2023-07-08,12:30,Central,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,35,M,W,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,800 BARTLETT ST
230544,2023-03-22,2023-03-22,10:00,Foothill,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",25,F,H,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,12800 FILMORE ST

In [67]:
# Export cleaned dataset to csv file
df.to_csv('crime_data_cleaned.csv', index=False)